Find top 1 outlets by cuisine type without using limit and top function

In [1]:
WITH cte AS (
    SELECT 
        Cuisine, 
        Restaurant_id, 
        COUNT(*) AS no_of_order 
    FROM data_restro.csv
    GROUP BY Cuisine, Restaurant_id
)
SELECT * 
FROM (
    SELECT 
        *, 
        ROW_NUMBER() OVER (PARTITION BY Cuisine ORDER BY no_of_order DESC) AS rn 
    FROM cte
) AS a

where rn =1;

    Cuisine Restaurant_id  no_of_order  rn
0   Mexican       TACO789            7   1
1  Lebanese     KMKMH6787           10   1
2  Japanese      SUSHI456            6   1
3  American      BURGER99            8   1
4   Italian      PIZZA123           10   1

Find the daily new customer count from the launch date (everyday how many new customers are we acquiring)

In [2]:
WITH cte AS (
    SELECT 
        Customer_code, 
        CAST(MIN(placed_at) AS DATE) AS first_order_date
    FROM data_restro.csv
    GROUP BY Customer_code
)
SELECT 
    first_order_date, 
    COUNT(*) AS no_of_new_customers
FROM cte
GROUP BY first_order_date
ORDER BY first_order_date;

            first_order_date  no_of_new_customers
0  2025-01-01 00:00:00+00:00                    2
1  2025-01-02 00:00:00+00:00                    1
2  2025-01-03 00:00:00+00:00                    1
3  2025-01-04 00:00:00+00:00                    1
4  2025-01-05 00:00:00+00:00                    3
5  2025-01-06 00:00:00+00:00                    1
6  2025-01-07 00:00:00+00:00                    1
7  2025-01-08 00:00:00+00:00                    1
8  2025-01-09 00:00:00+00:00                    1
9  2025-01-10 00:00:00+00:00                    3
10 2025-01-11 00:00:00+00:00                    1
11 2025-01-12 00:00:00+00:00                    1
12 2025-01-13 00:00:00+00:00                    1
13 2025-01-14 00:00:00+00:00                    1
14 2025-01-15 00:00:00+00:00                    2
15 2025-01-16 00:00:00+00:00                    1
16 2025-01-17 00:00:00+00:00                    1
17 2025-01-18 00:00:00+00:00                    1
18 2025-01-19 00:00:00+00:00                    1
19 2025-01-20 00:00:00+00:00                    2
20 2025-01-21 00:00:00+00:00                    1
21 2025-01-22 00:00:00+00:00                    1
22 2025-01-23 00:00:00+00:00                    1
23 2025-01-24 00:00:00+00:00                    1
24 2025-01-25 00:00:00+00:00                    1
25 2025-01-26 00:00:00+00:00                    1
26 2025-01-27 00:00:00+00:00                    1
27 2025-01-28 00:00:00+00:00                    1
28 2025-01-29 00:00:00+00:00                    1
29 2025-01-30 00:00:00+00:00                    1
30 2025-01-31 00:00:00+00:00                    4
31 2025-02-01 00:00:00+00:00                    2
32 2025-02-05 00:00:00+00:00                    1
33 2025-02-10 00:00:00+00:00                    1
34 2025-03-20 00:00:00+00:00                    2

3 Count of all the users who were acquired in Jan 2025 and only placed one order in Jan and did lot place any other order.

In [1]:
SELECT Customer_code, COUNT(*) AS no_of_orders
FROM data_restro.csv
WHERE MONTH(placed_at) = 1 
  AND YEAR(placed_at) = 2025
GROUP BY Customer_code
HAVING COUNT(*) = 1
   AND Customer_code NOT IN (
       SELECT Customer_code
       FROM data_restro.csv
       WHERE NOT (MONTH(placed_at) = 1 AND YEAR(placed_at) = 2025)
   );

       Customer_code  no_of_orders
0   GHI5678901234XYZ             1
1   STU9876543210ABC             1
2   HIJ9876543210DEF             1
3   NOP3456789012DEF             1
4   QRS7890123456DEF             1
5   WXY9876543210GHI             1
6   LMN9876543210JKL             1
7   DEF5678901234MNO             1
8   PQR9876543210PQR             1
9   STU5678901234PQR             1
10   JAN_ONLY_ORDER1             1
11   JAN_ONLY_ORDER2             1
12  SINGLE_ORDER_JAN             1
13  JKL3456789012XYZ             1
14  MNO7890123456XYZ             1
15  PQR1234567890ABC             1
16  VWX5678901234ABC             1
17  YZA3456789012ABC             1
18  BCD7890123456ABC             1
19  EFG1234567890DEF             1
20  KLM5678901234DEF             1
21  TUV1234567890GHI             1
22  ZAB5678901234GHI             1
23  FGH7890123456GHI             1
24  IJK1234567890JKL             1
25  OPQ5678901234JKL             1
26  RST3456789012JKL             1
27  XYZ1234567890MNO             1
28  GHI3456789012MNO             1
29  JKL7890123456MNO             1
30  MNO1234567890PQR             1
31  VWX3456789012PQR             1

List All the customers with no order in the last 7 days but were acquired one month ago with their first order on promo.

In [2]:
WITH cte AS (
    SELECT 
        Customer_code, 
        MIN(placed_at) AS first_order_date, 
        MAX(placed_at) AS latest_order_date
    FROM Orders
    GROUP BY Customer_code
)

SELECT 
    cte.*, 
    o.Promo_code_Name AS first_order_promo
FROM cte
INNER JOIN Orders o 
    ON cte.Customer_code = o.Customer_code 
    AND cte.first_order_date = o.placed_at
WHERE 
    cte.latest_order_date < DATEADD(DAY, -7, GETDATE()) AND
    cte.first_order_date < DATEADD(MONTH, -1, GETDATE()) AND
    o.Promo_code_Name IS NOT NULL;

         Customer_code          first_order_date         latest_order_date
0     UFDDN1991918XUY1 2025-01-01 15:30:20+00:00 2025-03-28 11:30:00+00:00
1     DEF9876543210XYZ 2025-01-02 09:15:00+00:00 2025-03-02 09:15:00+00:00
2     GHI5678901234XYZ 2025-01-03 14:30:00+00:00 2025-01-03 14:30:00+00:00
3     STU9876543210ABC 2025-01-07 13:15:00+00:00 2025-01-07 13:15:00+00:00
4     HIJ9876543210DEF 2025-01-12 14:45:00+00:00 2025-01-12 14:45:00+00:00
5     NOP3456789012DEF 2025-01-14 12:15:00+00:00 2025-01-14 12:15:00+00:00
6     QRS7890123456DEF 2025-01-15 19:00:00+00:00 2025-01-15 19:00:00+00:00
7     WXY9876543210GHI 2025-01-17 15:30:00+00:00 2025-01-17 15:30:00+00:00
8     LMN9876543210JKL 2025-01-22 14:30:00+00:00 2025-01-22 14:30:00+00:00
9     UVW7890123456JKL 2025-01-25 19:15:00+00:00 2025-03-25 19:15:00+00:00
10    ABC9876543210MNO 2025-01-27 15:15:00+00:00 2025-03-15 15:15:00+00:00
11    DEF5678901234MNO 2025-01-28 18:30:00+00:00 2025-01-28 18:30:00+00:00
12    PQR9876543210PQR 2025-01-31 14:00:00+00:00 2025-01-31 14:00:00+00:00
13    STU5678901234PQR 2025-01-31 17:15:00+00:00 2025-01-31 17:15:00+00:00
14     JAN_ONLY_ORDER1 2025-01-15 13:30:00+00:00 2025-01-15 13:30:00+00:00
15     JAN_ONLY_ORDER2 2025-01-20 18:45:00+00:00 2025-01-20 18:45:00+00:00
16    NO_ORDER_LAST7_1 2025-02-01 12:15:00+00:00 2025-02-01 12:15:00+00:00
17   THIRD_ORDER_CUST1 2025-01-05 11:45:00+00:00 2025-01-15 17:45:00+00:00
18    SINGLE_ORDER_JAN 2025-01-10 19:00:00+00:00 2025-01-10 19:00:00+00:00
19     NO_ORDER_RECENT 2025-02-10 12:30:00+00:00 2025-02-15 18:00:00+00:00
20    ABC1234567890XYZ 2025-01-01 08:45:00+00:00 2025-01-05 13:20:00+00:00
21    JKL3456789012XYZ 2025-01-04 12:00:00+00:00 2025-01-04 12:00:00+00:00
22    MNO7890123456XYZ 2025-01-05 19:45:00+00:00 2025-01-05 19:45:00+00:00
23    PQR1234567890ABC 2025-01-06 11:30:00+00:00 2025-01-06 11:30:00+00:00
24    VWX5678901234ABC 2025-01-08 18:00:00+00:00 2025-01-08 18:00:00+00:00
25    YZA3456789012ABC 2025-01-09 12:45:00+00:00 2025-01-09 12:45:00+00:00
26    BCD7890123456ABC 2025-01-10 20:15:00+00:00 2025-01-10 20:15:00+00:00
27    EFG1234567890DEF 2025-01-11 09:30:00+00:00 2025-01-11 09:30:00+00:00
28    KLM5678901234DEF 2025-01-13 17:30:00+00:00 2025-01-13 17:30:00+00:00
29    TUV1234567890GHI 2025-01-16 10:45:00+00:00 2025-01-16 10:45:00+00:00
30    ZAB5678901234GHI 2025-01-18 18:15:00+00:00 2025-01-18 18:15:00+00:00
31    CDE3456789012GHI 2025-01-19 11:00:00+00:00 2025-03-27 15:15:00+00:00
32    FGH7890123456GHI 2025-01-20 20:45:00+00:00 2025-01-20 20:45:00+00:00
33    IJK1234567890JKL 2025-01-21 09:15:00+00:00 2025-01-21 09:15:00+00:00
34    OPQ5678901234JKL 2025-01-23 17:45:00+00:00 2025-01-23 17:45:00+00:00
35    RST3456789012JKL 2025-01-24 12:30:00+00:00 2025-01-24 12:30:00+00:00
36    XYZ1234567890MNO 2025-01-26 10:00:00+00:00 2025-01-26 10:00:00+00:00
37    GHI3456789012MNO 2025-01-29 11:45:00+00:00 2025-01-29 11:45:00+00:00
38    JKL7890123456MNO 2025-01-30 20:00:00+00:00 2025-01-30 20:00:00+00:00
39    MNO1234567890PQR 2025-01-31 09:45:00+00:00 2025-01-31 09:45:00+00:00
40    VWX3456789012PQR 2025-01-31 12:00:00+00:00 2025-01-31 12:00:00+00:00
41    NO_ORDER_LAST7_2 2025-02-05 19:30:00+00:00 2025-02-05 19:30:00+00:00
42   THIRD_ORDER_CUST2 2025-01-10 10:30:00+00:00 2025-01-20 16:30:00+00:00
43  MULTI_CUISINE_CUST 2025-01-05 12:00:00+00:00 2025-03-31 14:45:00+00:00
44    PROMO_FIRST_ONLY 2025-02-01 11:45:00+00:00 2025-02-10 17:30:00+00:00
45    LAST_ORDER_7DAYS 2025-03-20 10:00:00+00:00 2025-03-31 16:30:00+00:00
46    ZZZ9876543210MNO 2025-03-20 15:15:00+00:00 2025-03-20 15:15:00+00:00